<div class="card h-100">

    <a href="{% url 'view_book' book.id %}" class="text-black">

        <img class="card-img-top" src="{{ book.pic_link }}" alt="Card image cap" width="auto"

             height="300"/>

        <div class="card-body">
            <h5 class="card-title">
                {{ book.book_name|slice:":15" }}{% if book.book_name|length > 15 %}...{% endif %}
            </h5>

            <a href="{% url 'view_book' book.id %}" class="text-black"></a>

            <p class="card-text">

                {% if book.authors|length > 1 %}
                    {% if book.authors.0.1|length > 15 %}
                        {{ book.authors.0.1|slice:":15" }}...
                    {% else %}
                        {{ book.authors.0.1 }}
                    {% endif %}
                    и др.
                {% else %}
                    {% if book.authors.0.1|length > 15 %}
                        {{ book.authors.0.1|slice:":15" }}...
                    {% else %}
                        {{ book.authors.0.1 }}
                    {% endif %}
                {% endif %}

            </p>



            <div style="display: flex; align-items: center;">

                <figure class="text-start mt-2"

                        style="display: flex; align-items: center; flex-grow: 1;">

                    <span class="star-icon"

                          style="vertical-align: middle; color: royalblue; font-size: 16px; margin-left: 5px;">&#9733;</span>

                    <span style="margin-left: 5px; color: royalblue;">{{ book.score }}</span>


                </figure>
            </div>


        </div>

</div>