{% load static %}



{% include 'home/blocks/header.html' %}

{% include 'home/blocks/menu.html' %}

{% include 'home/blocks/navbar.html' %}



<!-- Content wrapper -->

<div class="content-wrapper" xmlns="http://www.w3.org/1999/html">

    <!-- Content -->



    <div class="container-xxl flex-grow-1 container-p-y">

                <h4 class="py-3 mb-4" style="font-size: 2rem; margin-left: 10px;">Редактирование</h4>
                <!--Текущая карточка-->
                <div class="col-md" style="padding: 0 10px;">

                    <div class="row">
                        <!-- Первый столбец с изображениями -->
                        <div class="col-md-auto mb-3" style="padding: 10;">
                            <!-- Изображения -->
                            <div class="col-md" style="height: 100%">
                                <!-- Изображение 1 -->
                                <div class="mb-2 pb-1" style="padding: 0 5px; height: calc(20% - 10px);">
                                    <img class="card-img" src="../assets/img/elements/1.jpg"
                                         alt="Preview image" style="width: 50px; height: 100%; object-fit: cover;">
                                </div>
                                <!-- Изображение 2 -->
                                <div class="mb-2 pb-1" style="padding: 0 5px; height: calc(20% - 10px);">
                                    <img class="card-img" src="../assets/img/elements/2.jpg"
                                         alt="Preview image" style="width: 50px; height: 100%; object-fit: cover;">
                                </div>
                                <!-- Изображение 3 -->
                                <div class="mb-2 pb-1" style="padding: 0 5px; height: calc(20% - 10px);">
                                    <img class="card-img" src="../assets/img/elements/3.jpg"
                                         alt="Preview image" style="width: 50px; height: 100%; object-fit: cover;">
                                </div>
                                <!-- Изображение 4 -->
                                <div class="mb-2 pb-1" style="padding: 0 5px; height: calc(20% - 10px);">
                                    <img class="card-img " src="../assets/img/elements/4.jpg"
                                         alt="Preview image" style="width: 50px; height: 100%; object-fit: cover;">
                                </div>
                                <!-- Изображение 5 -->
                                <div class="mb-2 pb-1" style="padding: 0 5px; height: calc(20% - 10px);">
                                    <img class="card-img" src="../assets/img/elements/5.jpg"
                                         alt="Preview image" style="width: 50px; height: 100%; object-fit: cover;">
                                </div>
                            </div>
                        </div>

                        <!-- Второй столбец с изображениями -->
                        <div class="col-md-auto mb-3" style="padding: 0 5px;">
                            <!-- Изображения -->
                            <div class="col-md" style="height: 100%;">
                                <!-- Изображение 6 -->
                                <div class="mb-2 pb-1" style="padding: 0 5px; height: calc(20% - 10px);">
                                    <img class="card-img" src="../assets/img/elements/5.jpg"
                                         alt="Preview image" style="width: 50px; height: 100%; object-fit: cover;">
                                </div>
                                <!-- Изображение 7 -->
                                <div class="mb-2 pb-1" style="padding: 0 5px; height: calc(20% - 10px);">
                                    <img class="card-img" src="../assets/img/elements/7.jpg"
                                         alt="Preview image" style="width: 50px; height: 100%; object-fit: cover;">
                                </div>
                                <!-- Изображение 8 -->
                                <div class="mb-2 pb-1" style="padding: 0 5px; height: calc(20% - 10px);">
                                    <img class="card-img" src="../assets/img/elements/13.jpg"
                                         alt="Preview image" style="width: 50px; height: 100%; object-fit: cover;">
                                </div>
                                <!-- Изображение 9 -->
                                <div class="mb-2 pb-1" style="padding: 0 5px; height: calc(20% - 10px);">
                                    <img class="card-img" src="../assets/img/elements/11.jpg"
                                         alt="Preview image" style="width: 50px; height: 100%; object-fit: cover;">
                                </div>
                                <!-- Изображение 10 -->
                                <div class="mb-2 pb-1" style="padding: 0 5px; height: calc(20% - 10px);">
                                    <img class="card-img" src="../assets/img/elements/12.jpg"
                                         alt="Preview image" style="width: 50px; height: 100%; object-fit: cover;">
                                </div>
                            </div>
                        </div>
                        <style>
                            .selected {
                                border: 2px solid #7e57c2;
                            }
                        </style>

                        <!-- Столбец с карточкой товара -->
                        <div class="col-md" style="max-width: calc(100% - 180px); padding: 0 1px;">
                            <div class="card mb-3">
                                <div class="row g-0">
                                    <div class="col-md-4">
                                        <img class="card-img card-img-left" src="../assets/img/elements/1.jpg"
                                             alt="Card image">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <h5 class="card-title">{{ good.}}</h5>
                                            <p class="card-text">
                                                Описание товара
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card mb-3">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img class="card-img card-img-left" src="{{ good.image }}"
                                     alt="Card image">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">{{ good.name }}</h5>
                                    <p class="card-text">
                                        {{ good.description|safe }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Работы с текущим изображением-->
                    <div class="row mt-3">
                    <div class="d-grid gap-2 col-12 mx-auto">
                       <a href="{% url 'generate' good.id %}" class="btn btn-secondary btn-lg btn-block">Редактировать текущее изображение</a>
                    </div>
                </div>

                    <!--Форма загрузки файла-->
                    <div class="input-group mt-3" style="padding: 0 10px;">
                        <input type="file" class="form-control" id="image-input"  accept="image/*">
                        <label class="input-group-text" >Загрузить</label>
                    </div>
                </div>

                <!-- Кнопки работы с изображением с платформы -->
                <div class="row mt-3" style="padding: 0 10px;">
                    <div class="d-grid gap-2 col-12 mx-auto">
                        <button class="btn btn-primary btn-lg btn-block" onclick="uploadImage()" type="button">Редактировать загруженное изображение
                        </button>
                    </div>
                </div>

            <script>
                function uploadImage() {
                    const fileInput = document.getElementById('image-input');
                    const file = fileInput.files[0];

                    if (file) {
                        const formData = new FormData();
                        formData.append('image_content', file);

                        fetch(window.location.pathname, { // Используем текущий URL в качестве адреса для POST-запроса
                            method: 'POST',
                            body: formData
                        })
                        .then(response => response.json())
                        .then(data => {
                            if (data.redirect_url) {
                                window.location.href = data.redirect_url;
                            } else {
                                console.log(data);
                            }
                        })
                        .catch(error => console.error('Ошибка:', error));
                    } else {
                        console.log('Файл не выбран');
                    }
                }
                </script>


    </div>





    {% include 'home/blocks/footer.html' %}

